<div class="gh-recruit-main">
	<div class="container">
		<h1>互联网·音乐·革命<br />已经来临</h1>
		<p class="lead">机遇·挑战</p>
		<hr />
		<p class="lead">作为信息时代的唱片公司<br />我们相信在下一个音乐时代<br />需要勇于突破传统的你</p>
		<p class="lead">光合音乐</p>
		<p>地址：北京市海淀区五道口华清嘉园甲5号楼</p>
        <p>您有任何问题，请发邮件到</p>
        <p>邮箱：party@fanheapp.com</p>
	</div>
</div>
<div class="gh-recruit-main default">
	<div class="container">
		<h3>高级前端工程师：</h2>
        <p style="margin-top: 30px;">工作内容：</p>
        <p>负责产品Web端（爪机&本子）页面开发</p>
        <p style="margin-top: 50px;">技能要求：</p>
        <p>1、熟悉html5, css3；</p>
        <p>2、熟悉Javascript、熟悉JQuery或ExtJS或其他JS开发框架；</p>
        <p>3、了解各主流浏览器（爪机&本子）间的兼容性和适配问题；</p>
        <p>4、熟悉backbonejs, angularjs或knockoutjs其中的一种；</p>
        <p>5、熟悉前端的图片浏览相关功能及优化；</p>
        <p style="margin-top: 50px;">加分技能：</p>
        <p>1、了解AVOS cloud (Lean cloud) / 环信等类似云服务；</p>
        <p>2、具备UE/UI设计能力优先。</p>
	</div>
</div>
<div class="gh-recruit-main red">
	<div class="container">
		<h3>Android开发工程师：</h3>
        <p style="margin-top: 30px;">工作内容：</p>
        <p>负责饭盒产品的Android开发；</p>
        <p style="margin-top: 50px;">技能要求：</p>
        <p>1、对安卓手机应用开发有较好的理解；</p>
        <p>2、对安卓交互动画设计与实现有较深的思考；</p>
        <p>3、对媒体、社交产品及相关的数据模型逻辑有较好的理解；</p>
        <p>4、对数据库相关知识有良好的了解；</p>
        <p style="margin-top: 50px;">加分技能：</p>
        <p>1、了解AVOS Cloud (lean cloud)、环信等类似云服务相关开发；</p>
        <p>2、了解html在手机端的适配。</p>
	</div>
</div>
<div class="gh-recruit-main blue">
	<div class="container">
		<h3>产品运营：</h3>
        <p style="margin-top: 30px;">工作内容：</p>
        <p>1、参与饭盒的产品运营；</p>
        <p>2、饭盒产品运营活动的企划与执行；</p>
        <p>3、为产品的迭代优化提出建议；</p>
        <p style="margin-top: 50px;">技能要求：</p>
        <p>1、了解社区类产品的运营，有产品运营经验；</p>
        <p>2、对于图片类社交媒体有良好的理解；</p>
        <p>3、对于时下流行的娱乐偶像及粉丝行为有一定的了解及接受度；</p>
        <p>4、对于亚文化圈层有一定的了解及接受度；</p>
        <p style="margin-top: 50px;">加分技能：</p>
        <p>1、了解微博粉丝圈的玩法；）</p>
        <p>2、懂一点UE/UI设计也不错啊；D</p> 
	</div>
</div>